</main>

<footer>
    <nav id = "collapsible-menu">
        <ul>
            <li><a href = "#inicio">Início</a></li>
            <li><a href = "#sobre">Sobre</a></li>
            <li><a href = "#servicos">Serviços</a></li>
            <li><a href = "#portfolio">Portfolio</a></li>
            <li><a href = "#contato">Contato</a></li>
        </ul>
    </nav>

    <p>Por <a href = "https://hudsonlessa.com">Hudson Lessa</a> - 2019</p>
</footer>
</body>
</html>
