<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135362479-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        
        function gtag()
        {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-135362479-1');
    </script>

    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width , initial-scale = 1">

    <link rel = "icon" href = "images/favicon.png" type = "image/png">
    <link rel = "stylesheet" href = "stylesheets/css/style.css">

    <title>Yuri Games - Os melhores games, os menores preços</title>
</head>
<body>
    <header>
        <nav>
            <div id = "collapsible-menu-button"></div>
            <a class = "logo" href = "/">YG</a>
            <ul>
                <li><a href = "/#ofertas">Ofertas</a></li>
                <li><a href = "/sobre">Sobre</a></li>
                <li><a href = "/contato">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
