<% include ./partials/header.ejs %>
<section class = "about-section">
    <div class = "container">
        <div class = "photo"></div>
        <p class = "title about-title">Yuri Games</p>
        <p class = "subtitle about-subtitle">Lorem ipsum dolor sit amet</p>
        <p class = "about-text">
            A loja Yuri Games nasceu com o propósito de oferecer games e consoles atuais e retrôs a um preço justo e com o atendimento de qualidade que todo gamer e colecionador merecem.
            Desde 2017 vendendo online pelo Mercado Livre, e agora com um website para anúncios e negociações diretas, priorizamos sempre a qualidade do atendimento e vamos totalmente contra a corrente da “inflação artificial” dos preços dos games.
        </p>
    </div>
</section>
<% include ./partials/footer.ejs %>
