<link rel = "stylesheet" href = "stylesheets/css/style_admin.css">

<h1>Lista de produtos cadastrados</h1>
<ol>
</ol>

<button id = "button-novo">Novo</button>

<script src = "scripts/script_admin.js"></script>
