<style>
    @import url("https://fonts.googleapis.com/css?family=Roboto:400");
    body
    {
        background: linear-gradient(#FF9900 , #FF6600);
        color: #FFF;
        font-family: "Roboto";
    }

    p
    {
        font-size: 32px;
        text-align: center;
        text-transform: uppercase;
    }
</style>

<body>
    <p>Página em construção!</p>
</body>
