<% include ./partials/header.ejs %>
<section class = "contact-section">
    <div class = "container">
        <p class = "title contact-title">Yuri Games</p>
    </div>

    <%# <form action = "/email" method = "post">
        <input required type = "text" name = "name" placeholder = "Nome">
        <input required type = "email" name = "emailAddress" placeholder = "Endereço de email">
        <input required type = "text" name = "subject" placeholder = "Assunto">
        <textarea required name = "message" placeholder = "Mensagem"></textarea>
        <button class = "button">Enviar</button>
    </form> %>
    <p>Manda um direct lá no meu Insta! <a href = "https://www.instagram.com/lojayurigames">@lojayurigames</a></p>
    <p>ou fale comigo pelo WhatsApp! <a href = "https://wa.me/5521979381666">(21) 97938-1666</a href></p>
</section>
<% include ./partials/footer.ejs %>
