<% include ./partials/header.ejs %>
<section id = "hero">
    <div class = "container">
        <p>Yuri Games</p>
        <p>Os melhores games, os menores preços</p>
        <a href = "/contato" class = "button">me contatar</a>
    </div>
</section>

<section id = "offers">
    <div class = "container">
        <div class = "filter">
            <button class = "button">jogos</button>
            <button class = "button">consoles</button>
        </div>

        <div class = "products">
            <div class = "product">
                <a href = "https://mercadolivre.com"><div class = "product-image"><img src = "http://vgboxart.com/boxes/PS2/3108-grand-theft-auto-springfield.jpg"></div></a>
                <div class = "product-info">
                    <p>Grand Theft Auto Springfield</p>
                    <p>R$ 315,00</p>
                </div>
            </div>

            <div class = "product">
                <a href = "https://mercadolivre.com"><div class = "product-image"><img src = "http://vgboxart.com/boxes/PS2/3108-grand-theft-auto-springfield.jpg"></div></a>
                <div class = "product-info">
                    <p>Grand Theft Auto Springfield</p>
                    <p>R$ 315,00</p>
                </div>
            </div>

            <div class = "product">
                <a href = "https://mercadolivre.com"><div class = "product-image"><img src = "http://vgboxart.com/boxes/PS2/3108-grand-theft-auto-springfield.jpg"></div></a>
                <div class = "product-info">
                    <p>Grand Theft Auto Springfield</p>
                    <p>R$ 315,00</p>
                </div>
            </div>

            <div class = "product">
                <a href = "https://mercadolivre.com"><div class = "product-image"><img src = "http://vgboxart.com/boxes/PS2/3108-grand-theft-auto-springfield.jpg"></div></a>
                <div class = "product-info">
                    <p>Grand Theft Auto Springfield</p>
                    <p>R$ 315,00</p>
                </div>
            </div>

            <div class = "product">
                <a href = "https://mercadolivre.com"><div class = "product-image"><img src = "http://vgboxart.com/boxes/PS2/3108-grand-theft-auto-springfield.jpg"></div></a>
                <div class = "product-info">
                    <p>Grand Theft Auto Springfield</p>
                    <p>R$ 315,00</p>
                </div>
            </div>

            <div class = "product">
                <a href = "https://mercadolivre.com"><div class = "product-image"><img src = "http://vgboxart.com/boxes/PS2/3108-grand-theft-auto-springfield.jpg"></div></a>
                <div class = "product-info">
                    <p>Grand Theft Auto Springfield</p>
                    <p>R$ 315,00</p>
                </div>
            </div>

            <div class = "product">
                <a href = "https://mercadolivre.com"><div class = "product-image"><img src = "http://vgboxart.com/boxes/PS2/3108-grand-theft-auto-springfield.jpg"></div></a>
                <div class = "product-info">
                    <p>Grand Theft Auto Springfield</p>
                    <p>R$ 315,00</p>
                </div>
            </div>

            <div class = "product">
                <a href = "https://mercadolivre.com"><div class = "product-image"><img src = "http://vgboxart.com/boxes/PS2/3108-grand-theft-auto-springfield.jpg"></div></a>
                <div class = "product-info">
                    <p>Grand Theft Auto Springfield</p>
                    <p>R$ 315,00</p>
                </div>
            </div>

            <div class = "product">
                <a href = "https://mercadolivre.com"><div class = "product-image"><img src = "http://vgboxart.com/boxes/PS2/3108-grand-theft-auto-springfield.jpg"></div></a>
                <div class = "product-info">
                    <p>Grand Theft Auto Springfield</p>
                    <p>R$ 315,00</p>
                </div>
            </div>

            <div class = "product">
                <a href = "https://mercadolivre.com"><div class = "product-image"><img src = "http://vgboxart.com/boxes/PS2/3108-grand-theft-auto-springfield.jpg"></div></a>
                <div class = "product-info">
                    <p>Grand Theft Auto Springfield</p>
                    <p>R$ 315,00</p>
                </div>
            </div>

            <div class = "product">
                <a href = "https://mercadolivre.com"><div class = "product-image"><img src = "http://vgboxart.com/boxes/PS2/3108-grand-theft-auto-springfield.jpg"></div></a>
                <div class = "product-info">
                    <p>Grand Theft Auto Springfield</p>
                    <p>R$ 315,00</p>
                </div>
            </div>

            <div class = "product">
                <a href = "https://mercadolivre.com"><div class = "product-image"><img src = "http://vgboxart.com/boxes/PS2/3108-grand-theft-auto-springfield.jpg"></div></a>
                <div class = "product-info">
                    <p>Grand Theft Auto Springfield</p>
                    <p>R$ 315,00</p>
                </div>
            </div>

            <div class = "product">
                <a href = "https://mercadolivre.com"><div class = "product-image"><img src = "http://vgboxart.com/boxes/PS2/3108-grand-theft-auto-springfield.jpg"></div></a>
                <div class = "product-info">
                    <p>Grand Theft Auto Springfield</p>
                    <p>R$ 315,00</p>
                </div>
            </div>

            <div class = "product">
                <a href = "https://mercadolivre.com"><div class = "product-image"><img src = "http://vgboxart.com/boxes/PS2/3108-grand-theft-auto-springfield.jpg"></div></a>
                <div class = "product-info">
                    <p>Grand Theft Auto Springfield</p>
                    <p>R$ 315,00</p>
                </div>
            </div>

            <div class = "product">
                <a href = "https://mercadolivre.com"><div class = "product-image"><img src = "http://vgboxart.com/boxes/PS2/3108-grand-theft-auto-springfield.jpg"></div></a>
                <div class = "product-info">
                    <p>Grand Theft Auto Springfield</p>
                    <p>R$ 315,00</p>
                </div>
            </div>
        </div>
    </div>
</section>
<% include ./partials/footer.ejs %>
