<h1>Efetuar login</h1>
<form action = "/login" method = "post">
    <input type = "text" placeholder = "Nome de usuário">
    <input type = "text" placeholder = "Senha">
    <button>Entrar</button>
</form>
