<link rel = "stylesheet" href = "stylesheets/css/style_admin.css">

<h1>Lista de produtos cadastrados</h1>
<ol>
    <li>
        <input type = "text" placeholder = "Nome" value = "GTA Springfield" readonly>
        <input type = "text" placeholder = "Preço (em R$)" readonly>
        <input type = "text" placeholder = "Link ML" readonly>
        <input type = "text" placeholder = "Link Imagem" readonly>
        <button class = "button-editar">Editar</button>
        <button class = "button-salvar">Salvar</button>
        <button class = "button-remover">Remover</button>
    </li>
    <li>
        <input type = "text" placeholder = "Nome" value = "GTA Springfield" readonly>
        <input type = "text" placeholder = "Preço (em R$)" readonly>
        <input type = "text" placeholder = "Link ML" readonly>
        <input type = "text" placeholder = "Link Imagem" readonly>
        <button class = "button-editar">Editar</button>
        <button class = "button-salvar">Salvar</button>
        <button class = "button-remover">Remover</button>
    </li>
    <li>
        <input type = "text" placeholder = "Nome" value = "GTA Springfield" readonly>
        <input type = "text" placeholder = "Preço (em R$)" readonly>
        <input type = "text" placeholder = "Link ML" readonly>
        <input type = "text" placeholder = "Link Imagem" readonly>
        <button class = "button-editar">Editar</button>
        <button class = "button-salvar">Salvar</button>
        <button class = "button-remover">Remover</button>
    </li>
</ol>

<button id = "button-novo">Novo</button>

<script src = "scripts/script_admin.js"></script>
