<h1>Registrar-se</h1>
<form action = "/top-secret-area" method = "post">
    <input type = "text" name = "username" placeholder = "Nome de usuário">
    <input type = "password" name = "password" placeholder = "Senha">
    <button>Confirmar</button>
</form>
