*
{
    box-sizing: border-box;
    margin: 0;
}

body
{
    margin: 0 20px;
}

li
{
    margin-top: 20px;

    &:last-of-type
    {
        margin-bottom: 20px;
    }

    *
    {
        margin-left: 10px;
    }

    .ordinal
    {
        width: 40px;
        text-align: right;
    }

    .price
    {
        text-align: right;
    }

    .botao-remover
    {
        display: none;
    }
}

#button-novo
{
    margin-bottom: 10px;
}
